# Ignore Streamlit secrets only
.streamlit/secrets.toml

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore macOS DS_Store files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore cache files but not folder structure
cache/memes/*
cache/YT/*
cache/210/*
cache/51/*

# Ignore the visitor log
visitor_log.txt
visitor_log.txt

# Ignore the saved podcasts because they are large
assets/page_51/final_podcasts/*